
body {
    margin: 0;
    padding: 10px;
    /* font-family: -apple-system,BlinkMacSystemFont,Segoe UI,roboto,Helvetica Neue,helvetica,arial,sans-serif; */
    font-family: 'Roboto', sans-serif;

    /* font-family: Axiforma,Gotham Pro; */
    font-size:25px;
    min-width: 300px;
    min-height: 200px;
    position: relative;
    font-weight: 650;
    background-color: #ffffff;
    /* background-image: linear-gradient(to bottom right, #00BFFF, #7B68EE); */
    
    
}

/* input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid black;
    margin-top: 20px;
    margin-bottom: 8px;
    margin-right: 5px;
    font-family: 'Roboto', sans-serif;
    font-weight: 651;
    border-radius: 8px;
} */

button {
    transition: background-color .2s cubic-bezier(.785,.135,.15,.86) 0s;
    background-color: #4494e4;
    height: 50px;
    font-family: 'Roboto', sans-serif;
    font-weight: 651;
    position: static;
    align-items: center;
    justify-content: center;
    border: 0;
    border-radius: 9px;
    width: 100%;
    margin-bottom: 10%;
    box-shadow: 0 10px 25px #7b68ee80;
    color: white;
}

button:hover{
    background-color:  #9140d3;
    box-shadow: 0 10px 25px black;
}

button {
    transition: background-color .2s cubic-bezier(.785,.135,.15,.86) 0s;
    background-color: #4494e4;
    height: 50px;
    font-family: 'Roboto', sans-serif;
    font-weight: 651;
    position: static;
    align-items: center;
    justify-content: center;
    border: 0;
    border-radius: 9px;
    width: 100%;
    margin-bottom: 10%;
    box-shadow: 0 10px 25px #7b68ee80;
    color: white;
}

button:hover{
    background-color:  #9140d3;
    box-shadow: 0 10px 25px black;
}
 
#signin-button{
    margin-top: 18%;
    color:rgb(255, 255, 255)
}

#heading{
    margin-top: 10%;
    margin-bottom: 10%;
    font-size: 40px;
    font-weight: 650;
    color: white;
}